<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peanut.dao.mapper.PostLikeMapper">
    <resultMap id="BaseResultMap" type="com.peanut.pojo.PostLike">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="post_id" jdbcType="INTEGER" property="postId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <insert id="insert" parameterType="com.peanut.pojo.PostLike" useGeneratedKeys="true" keyProperty="id">
        insert INTO  post_like (id, post_id, user_id)
        VALUES (#{id, jdbcType=INTEGER}, #{postId, jdbcType=INTEGER}, #{userId, jdbcType=INTEGER})
    </insert>

    <select id="verifyLike" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM post_like
        WHERE  post_id =#{postId,jdbcType=INTEGER} AND user_id = #{userId, jdbcType=INTEGER}
    </select>

</mapper>